  body {
    margin: 0;
    background-color: #B2C382;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: 400;
}

  .container {
    width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .header {
    display: flex;
    justify-content: center;
    padding: 64px 0 24px 0;
    margin-bottom: 51px;
    border-bottom: 3px solid #000000;
    width: 614px;
  }

  .photo {
      padding: 0 45px;
  }

  .person-info {
      display: flex;
      flex-direction: column;
      padding: 12px 0 0 0;
  }

  .name {
    margin: 0 0 12px 0;
    font-size: 30px;
    line-height: 36.31px;
    font-weight: 400;
  }

  .profa {
    margin: 0;
    font-size: 18px;
    line-height: 21.78px;
    font-weight: 400;
  }

  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0 40px 0;
    border-bottom: 3px solid #000000;
    width: 614px;
  }

  .facts {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    background-color: #fff;
    width: 614px;
    height: 220px;
  }

  .facts h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin: 22px 0 24px 0;
  }

  .facts ul {
      margin: 0 49px 50px 45px;
  }

  .skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 47px 0 47px 0;
    font-size: 18px;
    line-height: 21.78px;
    font-weight: 500;
  }

  .skills h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }

  .logo {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
  }

  .certificate {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    background-color: #fff;
    width: 614px;
    height: 309px;
  }

  .certificate h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }

  .cert-wrapper {
    display: flex;
    flex-direction: row;
    width: 574px;
    justify-content: space-between;
  }

  .square {
      width: 289px;
      height: 191px;
      background-color:#F5F3F3;
  }

  .text {
      font-size: 0;
  }

  .table {
    position: absolute;
    font-family: 'Inter';
    width: 614px;
    height: 429px;
    left: 413px;
    top: 1026px;
    background: #FFFFFF;
    border-radius: 3px;
  }

  .td1 {
  width: 161px;
  }

  .works {
    font-family: 'Inter';
    font-style: normal;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0em;
  }

  .col1 {
  width: 161px;
  }

  .col2 {
 width: 120px;
  }

  .col3 {
  width: 246px;
  }

  .tables{
    position: relative;
    left: 45px;
    top: 15px;
    font-family: 'Inter';
    font-style: normal;
    font-size: large;
    width: 529px;
    height: 200px;
    padding: 0 0 0 0;
  }


  .hrs2 {
    position: absolute;
    width: 614px;
    height: 3px;
    left: 413px;
    top: 1495px;
    background: #000000;    
  }

  .сontact-with-me {
    position: absolute;
    left: 637px;
    top: 1500px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #000000;
  }

  .contact-with-me p {
    padding-left: 637px;
  }

  .number {
    position: absolute;
    padding-left: 462px;
    top: 1550px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
  }

  .telega {
    position: absolute;
    padding-left: 676px;
    top: 1550px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    }

  .github {
    position: absolute;
    padding-left: 35px;
    left: 820px;
    top: 1550px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
  }